<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilazo.css">
    <title>Busqueda Vehiculos</title>
</head>
<body class="cuerpo">
    <div class="contenedor">
        <form id="searchForm" method="get" class="">
            <label for="matricula" class="texto">Matricula:</label>
            <input type="text" id="matricula" name="matricula" onkeyup="searchVehicles()""><br><br>
            
            <label for="marca" class="texto">Marca:</label>
            <input type="text" id="marca" name="marca" onkeyup="searchVehicles()"><br><br>
            
            <label for="color" class="texto">Color:</label>
            <input type="text" id="color" name="color" onkeyup="searchVehicles()"><br><br>
            
            <label for="modelo" class="texto">Modelo:</label>
            <input type="text" id="modelo" name="modelo" onkeyup="searchVehicles()"><br><br>
        </form>
        
        <table id="vehiclesTable" border="1">
            <tr>
                <th>Matricula</th>
                <th>Marca</th>
                <th>Modelo</th>
            <th>Foto</th>
        </tr>
    </table>
    
    <script>
        async function searchVehicles() {
            const matricula = document.getElementById('matricula').value;
            const marca = document.getElementById('marca').value;
            const modelo = document.getElementById('modelo').value;
            const color = document.getElementById('color').value;
            
            const response = await fetch(`/vehicles/?matricula=${matricula}&marca=${marca}&modelo=${modelo}&color=${color}`);
            const vehicles = await response.json();
            
            const table = document.getElementById('vehiclesTable');
            console.log(vehicles)
            table.innerHTML = `
            <tr>
                <th>Matricula</th>
                <th>Marca</th>
                <th>Color</th>
                <th>Modelo</th>
                <th>Foto</th>
                </tr>
                ${vehicles.map(vehicle => `
                    <tr>
                        <td>${vehicle.matricula}</td>
                        <td>${vehicle.brand.descMarca}</td>
                        <td>${vehicle.color}</td>
                        <td>${vehicle.model.descModelo}</td>
                        <td><img src='${vehicle.foto}' id = 'iiid/></td>
                        </tr>
                        `).join('')}
            `;
        }
        </script>
        </div>
</body>
</html>