<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilazo.css">
    <title>Form Vehiculo</title>
</head>
<body class="cuerpo">
    <div class="contenedor">
        <form action="/cargar_vehiculos/" method="post" enctype="multipart/form-data">
            <label for="matricula" class="texto">Matricula</label>
            <input type="text" id="Matricula" name="matricula" class=""><br><br>
            <label for="color" class="texto">Color</label>
            <input type="text" id="color" name="color"><br><br>
            <label for="brand" class="texto">Marca</label>
            <select name="idMarkaFk" id="brand">
                <option value="0">Seleccione una Marca</option>
                {% for b in brands %}
                    <option value="{{b.idMarca}}">{{b.descMarca}}</option>
                {% endfor %}
            </select><br><br>
            <label for="model" class="texto">Modelo</label>
            <select name="idModeloFk" id="model">
                    <option value="">Selecciona una marca primero</option>
            </select><br><br>
            <input type="file" accept="image/*" id="image" class="texto"><br><br>
            <input type="text" style="display: none;" id="imageb64" name="image">
            <input type="submit" value="Submit">
        </form>
        <script>
            document.getElementById('brand').addEventListener('change',async function(){
                const models = await fetch('/obtener_modelos/' + this.value);
                const jsonModels = await models.json();
                const select = document.getElementById('model');
                select.innerHTML = '';
                for(let m of jsonModels){
                    let option = document.createElement('option');
                    option.value = m.idModelo;
                    option.text = m.descModelo;
                    select.appendChild(option);
                }
            })
            document.getElementById('image').addEventListener('change', function(){
                const toBase64 = file => new Promise((resolve,reject)=>{
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload  = () => resolve(reader.result);
                    reader.onerror = reject
                })
                async function Main(){
                    const file = document.getElementById('image').files[0];
                    const b64 = await toBase64(file);
                    document.getElementById('imageb64').value = b64;
                    console.log(b64);
                }
                Main();
            })
        </script>
    </div>
</body>
</html>