<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilazo.css">
    <title>Form Garaje</title>
</head>
<body class="cuerpo">
    <div class="contenedor">
        <form action="/guardar_garaje/" method="post">
            <label for="nombre" id="nombre" class="texto" style="display: flex; align-items: center; justify-content: center">Nombre</label> <br>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese el Nombre"> <br>
            <input type="submit" style="text-align: center;">
        </form>
    </div>
</body>
</html>