<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilazo.css">
    <title>Entrada</title>
</head>
<body class="cuerpo">
    <div class="contenedor">
        <form id="form_ingreso">
            <label for="diaIngreso" class="texto">Día de Ingreso</label>
            <select name="diasIngreso" id="diasIngreso">
                <option value="Lunes">Lunes</option>
                <option value="Martes">Martes</option>
                <option value="Miercoles">Miercoles</option>
                <option value="Jueves">Jueves</option>
            <option value="Viernes">Viernes</option>
            <option value="Sabado">Sabado</option>
            <option value="Domingo">Domingo</option>
        </select><br><br>
        <label for="fechaIngreso" class="texto">Fecha de Ingreso</label>
        <input type="date" name="fechaIngreso" id="fechaIngreso"><br><br>
        <label for="cantIngreso" class="texto">Cantidad de Ingreso</label>
        <input type="number" name="cantIngreso" id="cantIngreso" value=0><br><br>
        <input type="submit" id="Submit" value="Agregar Cabecera"><br><br>
    </form>
    
    <Form id="form_vehicles">
        <input type="text" name ="idIngreso" id="idIngreso" style="display: none;">
        <select name="vehicles" id="vehicles">
            <option value="0">Seleccione un Vehiculo</option>
            {% for b in vehiculos %}
                <option value="{{b.idVehiculo}}">{{b.matricula}}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" id="Submit" value="Agregar Vehiculo"><br><br>
    </Form>
    <table id="ingresostable" border="1">
        <tr>
            <th>Matricula</th>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
    </table>
    <button><a href="/">Volver</a></button>
    </div>
    <script>
        document.getElementById("form_ingreso").addEventListener("submit", function(event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const dia = formData.get("diasIngreso");
            const fecha = formData.get("fechaIngreso");
            const cant = formData.get("cantIngreso");

            fetch(`/ingreso_vehiculo/?dias=${dia}&fechas=${fecha}&cantidad=${cant}`)
            .then(response => response.json())
            .then(data => {
                console.log(data[0].out_id); 
                document.getElementById('idIngreso').value = data[0].out_id;
            })
            .catch(error => console.error('Error:', error));
        });
        document.getElementById("form_vehicles").addEventListener("submit",function(event){
            event.preventDefault();

            const formData = new FormData(event.target);
            const idIngreso = formData.get("idIngreso");
            const idVehiculo = formData.get("vehicles");

            fetch(`/agregar_ingreso_vehiculo/?idIngreso=${idIngreso}&idVehiculo=${idVehiculo}`)
            .then(response=>response.json())
            .then(data=>{
                const si = document.getElementById('cantIngreso').value
                document.getElementById('cantIngreso').value = parseInt(si) + 1
                console.log(data[0])
                const table = document.getElementById('ingresostable');
                table.innerHTML = `
                <tr>
                    <th>Matricula</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                </tr>
                ${data[0].map(dt => `
                    <tr>
                        <td>${dt.matricula}</td>
                        <td>${dt.nombreMarca}</td>
                        <td>${dt.nombreModelo}</td>
                    </tr>
                `).join('')}
            `;
                
            })
            .catch(error => alert('No puede cargar el mismo vehiculo'))
        })
    </script>
</body>
</html>
