<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada</title>
</head>
<body>
    <form action="/ingreso_vehiculo/" method="post">
        <label for="diaIngreso">Día de Ingreso</label>
        <select name="diasIngreso" id="diasIngreso">
            <option value="Lunes">Lunes</option>
            <option value="Martes">Martes</option>
            <option value="Miercoles">Miercoles</option>
            <option value="Jueves">Jueves</option>
            <option value="Viernes">Viernes</option>
            <option value="Sabado">Sabado</option>
            <option value="Domingo">Domingo</option>
        </select>
        <label for="fechaIngreso">Fecha de Ingreso</label>
        <input type="date" name="fechaIngreso" id="fechaIngreso">
        <label for="cantIngreso">Cantidad de Ingreso</label>
        <input type="number" name="cantIngreso" id="cantIngreso">
        <input type="submit" id="Submit">
    </form>
    <button>Volver</button>
</body>
</html>