<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilazo.css">
    <title>Garaje</title>
</head>
<body class="cuerpo">
    <div class="contenedor">
        <h1><a href="/garajes/">Agregar</a></h1>
        <table>
            <tr>
                <th>nombre</th>
                <th>Acciones</th>
            </tr>
        {% for garaje in garajes %}
        <tr>
            <td>{{garaje.nombre}}</td>
            <td>
                <a href="/borrar_garaje/{{garaje.idGaraje}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>