<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Marca</title>
</head>
<body>
    <div class="containerr">
        <h1><a href="/marcas/">Agregar</a></h1>
        <table>
            <tr>
                <th>Marca</th>
                <th>Acciones</th>
            </tr>
        {% for marca in marcas %}
        <tr>
            <td>{{marca.descMarca}}</td>
            <td>
                <a href="/editar_marca/{{marca.idMarca}}">Editar</a>
                <a href="/borrar_marca/{{marca.idMarca}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>