<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadoras</h1>
    <form action="/calcular/" method="post">
        <label for="num1">Numero 1: </label>
        <input type="number" step="any" name="num1" required><br><br>
        <label for="num2">Numero 2: </label>
        <input type="number" step="any" name="num2" required><br><br>
        <label>Operacion</label><br>
        <input type="radio" name="op" value="s" required>Sumar <br>
        <input type="radio" name="op" value="r" required>Restar <br>
        <input type="radio" name="op" value="m" required>Multiplicar <br>
        <input type="radio" name="op" value="d" required>Dividir <br>
        <input type="submit" value="Calcular">
    </form>
    <p><a href="/vistas/vista3/">Vista3</a></p>
    <p><a href="/vistas/vista4/">Vista4</a></p>
    <img src="/static/itadori.jpg" alt="Imagen Estatica">
</body>
</html>